<h2>Add new Page</h2>
{{#if message}}
<div class = 'error'>{{message}}</div>
{{/if}}
<form method="POST" action="">
	<div class="form-group">
	<div>
	
		<label for="name">Name:</label>
		<input  type="text" id="pageName" name="pageName" value="">
		
	</div>
	<div > 
		<label for="listname">List:</label>
		<input type="text" id="listName" name="listName" value="">
	</div>

	<div>
		<label for="title">URL:</label>
		<input type="url" id="url" name="url" value="">
	</div>
	<div class = 'container'>
		<div class="row justify-content-md-center">
    <div class="col col-lg-2">
      
    </div>
   <div class="col-md-auto">
	   
	<label for="shared">Status [true: will be shared on forum, false: will not be shared]</label></br>
	<input type="text" id="shared" name="shared" value="">
	</div>
    </div>

    <div class="col col-lg-2">
      
    </div>
  </div>

  </div>
	<div>
		<label for="description">Description:</label>
		<textarea name="description" id="description"></textarea>
	</div>
</div>
	<input type="submit" value="Create Page"> 
</form>