
<div class='container'>
<div class='row'>
    <div class='col'>
        <h1>Create!</h1>
    </div>
</div>

<div class='row'>
    <div class='col'>
<a class="btn btn-outline-success" href="/create/page" role="button">Create Page</a>
<a class="btn btn-outline-primary" href="/create/list" role="button"> Create List</a>
</div>
</div>
</div>

<div style="postion: relative"></div>
<img src = 'img/jumpK.svg' id='jump' height = '200' width='400'>
</div>


