{{#if message}}
	<div class="error">{{ message }}</div>
{{/if}}
<h2>Register</h2>

<form class="form-signin" method="POST" action="createAccount">
      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Create Account</h1>
      <label for="email" class="sr-only">Email</label>
      <input type="email" id="email" name ="email" class="form-control" placeholder="Email" required autofocus>
      <label for="username" class="sr-only">Username</label>
      <input type="username" id="username" name ="username" class="form-control" placeholder="Username" required>
      <label for="password" class="sr-only" >Password</label>
      <input type="password" id="inputPassword" name = "password" class="form-control" placeholder="Password" required>
      
      <button class="btn btn-lg btn-primary btn-block" value="Register" type="submit">Create Account</button>
      <button class="btn btn-lg btn-primary btn-block" id="loginBtn">Already Have an Account? Login! </button>
      <p class="mt-5 mb-3 text-muted">&copy; Kangaroo - Daniela Puchall 2021</p>
    </form>