<div class='container'>
    
        <h3>Forum</h3>
        <img src= 'img/postForum.svg' rel='post_to_forum' height ='200' width='250'>
        <br><br> 


<ol>

    {{#each list}}
        <li>{{this.list_name}} </li>
    {{/each}}
  
</ol>

</div>

<script  type="text/javascript" src="javascripts/main.js"></script>