
<h1>Page Under Construction</h1>
<h2>Visit Us Again Soon</h2>
<img src = 'public/img/k.jpg' width="400" height='600'></img>

<ol>

    {{#each List}}
        <li><a href="{{this.url}}">{{this.page_name}}</a> - [<a href="/page/{{this.slug}}">details</a>] </li>
    {{/each}}
  
</ol>
<p>
<a href='https://www.freepik.com/vectors/cartoon'>Cartoon vector created by brgfx - www.freepik.com</a>
</p>