<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

<link rel="stylesheet" type="text/css" href = 'css/style.css'>
<link rel="stylesheet" type="text/css" href='css/theme.css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Kangaroo</title>

  </head>

  <body class="text-center">
    {{#if user}}
    {{!-- If User is logged in --}}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Kangaroo Lists</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
       </li>
      <li class="nav-item">
        <a class="nav-link" href="/create">Create</a>
      </li>
      
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/forum">Forum</a>
      </li>
  <li class="nav-item">
        <a class="nav-link" href="/profile"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
</svg> </a>
 </ul>
 </div>
</nav>
      </li>
      <div class='container'>
    <div class='row'>
        <div class='col'>
            <label for="colorpicker">Pick A New Color:</label>
             <input type="color" id="colorpicker" value="#0000ff">
             <input type='button' id='changeTheme' value='Change Theme Color'>
        </div>
    </div>
</div>

    
    {{else}}
      <div class='container'>
        
        <h1>Welcome to Kangaroo!</h1>
     
        <h3>Let's Get Started. </h3>
     <div class='row'>
       <div class='col'>
            <a class="btn btn-primary" href="/login" role="button">Login</a>
       </div>
      <div class='col'>
        <a class="btn btn-primary" href="/createAccount" role="button">Create Account</a>
      </div>
     </div>
       
      </div>
   {{/if}}

    {{{body}}}
    {{#if user}}
    {{else}}
       <div class='col'>
         <img src = 'img/bookmark.svg' alt ='bookmark' height='300' width= '200'/>
       </div>
      {{/if}}


          <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script  type="text/javascript" src="javascripts/changeTheme.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
    <footer class='footer fixed-bottom'>
    <div class='container'>
      <p class="mt-5 mb-3 text-muted">&copy; Kangaroo - Daniela Puchall 2021</p>
      </div>
  </footer>
</html>